/**********************************
 define the font used for the html
**********************************/
body{
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
}

/**********************************
 the solid line separator
**********************************/
hr {
    border: none;
    height: 5px;
    background-color: #7d97ad;;
    margin:10px 0 20px 0;
}

/**********************************
ID tag that defines property of the
UBC logo
**********************************/
#logo {
    max-width: 100px;
    max-height: 150px;
    margin: 20px 20px 10px 20px;
    float:left;
    flex-wrap: wrap;
}

.container{
    margin:0 auto;
    flex-wrap: wrap;
}

/**********************************
 classes that defines the font
 properties
**********************************/
.text-80{
    font-size: 80px;
}

.text-thin{
    font-weight: 300;
}

.text-grey{
    color: #7d97ad;
}

.text-thick{
    font-weight: 400;
}

/**********************************
 Responsive design to make the text
 adjust according to the devices
**********************************/
@media screen and (max-width: 800px)
{
    #my-name{
        font-size: 60px;
    }
    #my-title{
        font-size: 30px;
    }
}

@media screen and (max-width: 420px)
{
    #my-name{
        font-size: 40px;
    }
    #my-title{
        font-size: 25px;
    }
}