{% extends "layout.html" %}

{% block title %}index~{% endblock%}

{% block content %}
    <h1> let the creating begin! </h1>
    {% with messages = get_flashed_messages() %}
            {% if messages %}

            <ul>
            {% for message in messages %}
              <li><strong>{{message}}</strong></li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
    <form action= "{{url_for('createItem')}}" method = 'POST'>

    <p>Name:</p>
    <input type = 'text' size='30' name = 'name' placeholder = 'enter the name'>
    <br>
    <br>
    <input type = 'text' size='30' name = 'price' placeholder = 'enter the price'>
    <br>
    <br>
    <textarea name = 'description'>
    </textarea>
    <br>
    <br>
    <select id = "catagories" name="catagory">
        {% for catagory in Catagories %}
            <option value='{{catagory.name}}'> {{catagory.name}} </option>
        {% endfor %}
    </select>
    <br>
    <br>
    <input type='submit' value='Create'>
    </form>
    <button onclick="goBack()"> Cancel </a>
{% endblock%}
