{% extends "layout.html" %}

{% block title %}edit{% endblock%}

{% block content %}
    <h1> Do you feel lucky? </h1>

    <form action= "{{url_for('editItem', ID=itemedit.ID)}}" method = 'POST'>

    <p>Name:</p>

    <input type = 'text' size='30' name = 'name' value='{{itemedit.name}}' placeholder = '{{itemedit.name}}'>
    <br>
    <br>
    <input type = 'text' size='30' name = 'price' value='{{itemedit.price}}' placeholder = '{{itemedit.price}}'>
    <br>
    <br>
    <textarea name = 'description' placeholder = '{{itemedit.description}}'>{{itemedit.description}}
    </textarea>
    <br>
    <br>

    <select id = "categories" name="category">
        <option selected="itemedit.category_ID">{{itemedit.category_ID}}</option>
        {% for category in Categories %}
            {% if not category.name==itemedit.category_ID %}
            <option value='{{category.name}}'> {{category.name}} </option>
            {% endif %}
        {% endfor %}
    </select>

    <br>
    <br>
    <input type='submit' value='Edit'>
    </form>

    <br>
    <button class="goback" onclick="goBack()"> Cancel </a>
{% endblock%}
